exportPattern("^[[:alpha:]]+")
exportMethods(
    "[",
    "[<-",
    "convertAllToNumeric",
    "correlationTest",
    "deletRowsAndColumsAndOrCalculatMean",
    "getAlphaValue",
    "getCollResult",
    "getCsvFile",
    "getCutlineAdvZeroTest",
    "getCutlineCorr",
    "getCutlineMulticoll",
    "getCutlineZeroTest",
    "getDataSet",
    "getFinalModel",
    "getMissingValueIsCol",
    "getMissingValueTyp",
    "getModelNumberX",
    "getModelResult",
    "getMultiCollResult",
    "getPreModelResults",
    "getShouldCentering",
    "getShouldScaling",
    "getSquareBracket",
    "getYname",
    "incrementalMultivariateRegression",
    "multicollinearityTest",
    "print",
    "processing",
    "scalingAndCenteringData",
    "setAlphaValue<-",
    "setCollResult<-",
    "setCsvFile<-",
    "setCutlineAdvZeroTest<-",
    "setCutlineCorr<-",
    "setCutlineMulticoll<-",
    "setCutlineZeroTest<-",
    "setDataSet<-",
    "setMissingValueIsCol<-",
    "setMissingValueTyp<-",
    "setModelResult<-",
    "setMultiCollResult<-",
    "setShouldCentering<-",
    "setShouldScaling<-",
    "setSquareBracket",
    "setYname<-",
    "show",
    "summary",
    "zeroAndAdvancedZeroTest" 
)
exportClasses(
    "IncReg",
     "IncRegFinalmodelResult",
     "IncRegOption" 
)
